In [11]:
from datetime import datetime, timedelta
import psycopg2
import pandas as pd
from datetime import datetime, timedelta
from bson import ObjectId
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from sshtunnel import SSHTunnelForwarder
from dbutils.pooled_db import PooledDB

ssh_host = 'api.trustyapp.io'
ssh_username = 'ubuntu'
ssh_pem_file = './ng-prod.pem'
database_host = '127.0.0.1'  # SSH 터널을 통해 localhost로 접근
database_name = 'trusty'
database_username = 'server'
database_password = 'ygFAhsyTMDzB21VdLTnoq7djxwjDNzuc9yPGukm73otXER8ihD'

server = SSHTunnelForwarder(
    (ssh_host, 22),  # SSH 서버 주소와 포트
    ssh_username=ssh_username,
    ssh_pkey=ssh_pem_file,  # Private key 파일 경로
    remote_bind_address=(database_host, 5432)  # 원격 MySQL 서버 주소와 포트
)

server.start()

conn = psycopg2.connect(
    host='127.0.0.1',  # localhost를 통해 SSH 터널로 접속
    user=database_username,
    password=database_password,
    database=database_name,
    port=server.local_bind_port  # sshtunnel이 자동으로 할당한 포트
)
cursor = conn.cursor()

In [8]:
conn.rollback()

qry = """
select ch."bureau", ch."accountNumber", ch."loanAmount", ch."repaymentAmount", ch."openedAt", ch."dueAt", ch."lastRepaymentAt", ch."status", ch."userId", ch."identifiedInstitution"
from credit_history ch
where ch."userId" IN ('679', '675', '673', '670', '87', '103', '372', '389', '435', '530', '598', '712', '793', '113', '116', '180', '263', '282', '394', '618', '750', '752')
order by ch."userId"
        """
cursor.execute(qry)
result = cursor.fetchall()

# DataFrame 생성
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])
df.to_csv('./꾼아님.csv', index=False, encoding='utf-8-sig')

# 결과 확인
print(df.head())

          bureau      accountNumber loanAmount repaymentAmount    openedAt  \
0            crc       cw1104895-05     185600           31475  2023-07-13
1  first-central  PM190403621154550     400000           35489  2022-10-20
2  first-central   099PDLP202160F9K       1000               0  2020-08-03
3  first-central   099PDLP2022504V8      10000               0  2020-08-12
4  first-central   099PDLP2024701SJ       1000               0  2020-09-03

        dueAt lastRepaymentAt      status  userId  \
0  2024-08-10            None  performing      87
1  2024-06-02      2024-05-30  performing      87
2  2020-09-02            None  performing      87
3  2020-09-11      2020-09-11  performing      87
4  2020-10-03            None  performing      87

                           identifiedInstitution
0                princeps credit systems limited
1  page international financial services limited
2                          access bank plc lagos
3                          access bank plc lagos
4                          access bank plc lagos

In [9]:
conn.rollback()

qry = """
select ch."bureau", ch."accountNumber", ch."loanAmount", ch."repaymentAmount", ch."openedAt", ch."dueAt", ch."lastRepaymentAt", ch."status", ch."userId", ch."identifiedInstitution"
from credit_history ch
where ch."userId" IN ('83', '131', '658', '655', '450', '783', '446', '502', '371', '776', '169')
order by ch."userId"
        """
cursor.execute(qry)
result = cursor.fetchall()

# DataFrame 생성
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])
df.to_csv('./꾼.csv', index=False, encoding='utf-8-sig')

# 결과 확인
print(df.head())

          bureau accountNumber loanAmount repaymentAmount    openedAt  \
0  first-central       7614985      10000           12000  2022-08-10
1  first-central       7929763      20000           26000  2022-09-09
2  first-central       8276210      10000           12000  2022-10-13
3  first-central       8736832      22500           27000  2022-11-29
4  first-central    2036909026     500000            None  2024-08-28

        dueAt lastRepaymentAt      status  userId  \
0  2022-08-25      2022-08-25  performing      83
1  2022-10-10      2022-10-13  performing      83
2  2022-10-28      2022-10-28  performing      83
3  2022-12-14      2022-12-11  performing      83
4  2025-08-27      2023-08-25  performing      83

            identifiedInstitution
0    mycredit investments limited
1    mycredit investments limited
2    mycredit investments limited
3    mycredit investments limited
4  fcmb microfinance bank limited

In [10]:
conn.rollback()

qry = """
select *
from credit_history ch
where ch."userId" IN ('83', '131', '658', '655', '450', '783', '446', '502', '371', '776', '169')
order by ch."userId"
        """
cursor.execute(qry)
result = cursor.fetchall()

# DataFrame 생성
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])
df.to_csv('./꾼예시2.csv', index=False, encoding='utf-8-sig')

# 결과 확인
print(df.head())

                         createdAt                        updatedAt   id  \
0 2024-11-20 02:06:26.812136+00:00 2024-11-20 02:06:26.812136+00:00  479
1 2024-11-20 02:06:26.812136+00:00 2024-11-20 02:06:26.812136+00:00  482
2 2024-11-20 02:06:26.812136+00:00 2024-11-20 02:06:26.812136+00:00  483
3 2024-11-20 02:06:26.812136+00:00 2024-11-20 02:06:26.812136+00:00  484
4 2024-11-20 02:06:26.812136+00:00 2024-11-20 02:06:26.812136+00:00  450

          bureau  reportedAt                     institutionName  \
0  first-central  2022-12-29                     MyCredit Invest
1  first-central  2023-02-22                     MyCredit Invest
2  first-central  2023-02-22                     MyCredit Invest
3  first-central  2023-04-17                     MyCredit Invest
4  first-central  2024-11-15  First City Monument Bank Ltd Lagos

  accountNumber                                 loanDescription loanAmount  \
0       7614985                        Personal fixed term loan      10000
1       7929763                                            None      20000
2       8276210                                            None      10000
3       8736832                        Personal fixed term loan      22500
4    2036909026  Personal revolving renewable short-term credit     500000

  repaymentAmount    openedAt       dueAt lastRepaymentAt      status  userId  \
0           12000  2022-08-10  2022-08-25      2022-08-25  performing      83
1           26000  2022-09-09  2022-10-10      2022-10-13  performing      83
2           12000  2022-10-13  2022-10-28      2022-10-28  performing      83
3           27000  2022-11-29  2022-12-14      2022-12-11  performing      83
4            None  2024-08-28  2025-08-27      2023-08-25  performing      83

            identifiedInstitution
0    mycredit investments limited
1    mycredit investments limited
2    mycredit investments limited
3    mycredit investments limited
4  fcmb microfinance bank limited

In [12]:
conn.rollback()

qry = """
select ch."identifiedInstitution", count(*) AS total_count, SUM(CASE WHEN ch."status" = 'lost' THEN 1 ELSE 0 END) AS lost_count
from credit_history ch
group by ch."identifiedInstitution"
        """
cursor.execute(qry)
result = cursor.fetchall()

# DataFrame 생성
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])
df.to_csv('./lost높은기관찾기.csv', index=False, encoding='utf-8-sig')

# 결과 확인
print(df.head())

               identifiedInstitution  total_count  lost_count
0      betterlending company limited           71           8
1         nownow digital systems ltd            2           0
2       nolt finance company limited            1           0
3  aella financial solutions limited            3           3
4            koins microfinance bank            6           0

In [13]:
conn.rollback()

qry = """
select *
from credit_history ch
where ch."identifiedInstitution" IN ('aella financial solutions limited', 
'baobab microfinance bank limited',
'sycamore integrated services limited',
'king aledura limited',
'link credit',
'social lender',
'bosak mfb lagos',
'qube microfinance bank limited',
'eric vsta limited',
'branch international finance company limited',
'branch international financial service limited',
'blueridge microfinance bank limited',
'kuda microfinance bank limited'
)
order by ch."identifiedInstitution", ch."openedAt"
        """
cursor.execute(qry)
result = cursor.fetchall()

# DataFrame 생성
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])
df.to_csv('./lost높은기관찾기2.csv', index=False, encoding='utf-8-sig')

# 결과 확인
print(df.head())

                         createdAt                        updatedAt    id  \
0 2025-02-14 07:42:48.341122+00:00 2025-02-14 07:42:48.341122+00:00  7251
1 2025-02-14 10:29:05.101487+00:00 2025-02-14 10:29:05.101487+00:00  7257
2 2025-02-13 17:05:27.676321+00:00 2025-02-13 17:05:27.676321+00:00  7190
3 2025-01-03 07:53:52.880527+00:00 2025-01-03 07:53:52.880527+00:00  3158
4 2024-11-18 21:11:14.326409+00:00 2024-11-18 21:11:14.326409+00:00   396

          bureau  reportedAt                      institutionName  \
0            crc  2024-10-31    AELLA FINANCIAL SOLUTIONS LIMITED
1            crc  2024-10-31    AELLA FINANCIAL SOLUTIONS LIMITED
2            crc  2024-10-31    AELLA FINANCIAL SOLUTIONS LIMITED
3  first-central  2024-12-05     Baobab Microfinance Bank Limited
4            crc  2024-08-31  BLUERIDGE MICROFINANCE BANK LIMITED

                          accountNumber             loanDescription  \
0                                172576                      Others
1                                845593                      Others
2  3ed07bcd-edc3-4226-b2ba-4fb9a8f6b665                      Others
3                          LD2220124465  Commercial investment loan
4                             881482212                      Others

  loanAmount repaymentAmount    openedAt       dueAt lastRepaymentAt status  \
0       8000               0  2018-12-08  2019-01-08            None   lost
1       2000               0  2020-05-22  2020-06-21            None   lost
2       5000               0  2024-04-24  2024-05-24      2024-10-10   lost
3     250000            4913  2022-07-20  2028-06-20      2024-11-20   lost
4       6000               0  2020-01-10  2020-01-24            None   lost

   userId                identifiedInstitution
0     786    aella financial solutions limited
1     834    aella financial solutions limited
2     619    aella financial solutions limited
3     509     baobab microfinance bank limited
4      87  blueridge microfinance bank limited

In [23]:
conn.rollback()

qry = """
SELECT
    b.name,
    COUNT(*) AS total_count,
    SUM(
        CASE 
            WHEN successAcc."bankAccountId" IS NULL
                 AND (bpr.status = 'timeout' OR bpr."processedAt" IS NULL)
            THEN 1 
            ELSE 0 
        END
    ) AS timeout_count,
    SUM(
        CASE 
            WHEN bpr.status = 'completed' THEN 1 
            ELSE 0 
        END
    ) AS success_count,
    COUNT(DISTINCT ba."userId") AS user_count
FROM bs_parse_request bpr
LEFT JOIN bank_account ba 
       ON bpr."bankAccountId" = ba."id"
LEFT JOIN bank b 
       ON ba."bankId" = b."id"

LEFT JOIN (
    SELECT DISTINCT "bankAccountId"
    FROM bs_parse_request
    WHERE status = 'completed'
) AS successAcc
ON successAcc."bankAccountId" = bpr."bankAccountId"

WHERE bpr."createdAt" >= '2025-01-17'
GROUP BY b.name;

        """
cursor.execute(qry)
result = cursor.fetchall()

# DataFrame 생성
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])
df.to_csv('./timeout_count_recent_이미제출과중복제거.csv', index=False, encoding='utf-8-sig')

# 결과 확인
print(df.head())

                    name  total_count  timeout_count  success_count  \
0            Access Bank           20              8              9
1                 Carbon            1              1              0
2        Ecobank Nigeria            4              2              2
3          Fidelity Bank            2              2              0
4  First Bank of Nigeria           12              5              7

   user_count
0          13
1           1
2           3
3           2
4           7